.notification {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: $red;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $background;
    border-radius: 10px 0 0 10px;
    min-width: 15vw;

    &__text {
    }
    &__title {
    }
}
