@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f9f7f7;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 5px;
}

.header {
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1568627451);
}
.header__logo {
  height: 100%;
  aspect-ratio: 2/1;
}
.header__user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__user-button {
  font-size: 1em;
  background-color: #f9f7f7;
  padding: 10px;
  border-radius: 20px;
  transition: 0.3s;
}
.header__user-button.green {
  color: #e1ffa0;
  background-color: #164038;
}
.header__user-button.green:hover {
  background-color: #164038;
}
.header__user-button:hover {
  opacity: 0.8;
  background-color: #f1ebeb;
}
.header__user-exit {
  font-size: 1.25em;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
}
.header__user-exit:hover {
  color: #a9ec18;
}

@media (max-width: 767.98px) {
  .header {
    font-size: 12px;
  }
  .header__user-button {
    padding: 7px;
  }
}
.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.main__err {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  font-size: 2em;
}

.statistics__right {
  z-index: 10;
  flex: 0 0 15%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1568627451);
  display: flex;
  flex-direction: column;
  position: relative;
}
.statistics__right-title {
  border-bottom: 1px solid #abb1c5;
  box-shadow: 0px -10px 1px #f9f7f7;
  font-weight: 600;
  text-align: center;
  padding: 10px 20px;
}
.statistics__right-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1;
}
.statistics__right-item {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dde3eb;
  transition: 0.3s;
}
.statistics__right-item-icon {
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #abb1c5;
}
.statistics__right-item.active {
  box-shadow: 0 0 10px #9896f1;
}
.statistics__right-item:hover {
  background-color: rgba(152, 150, 241, 0.3);
}
.statistics__right-button {
  background-color: #9896f1;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
  text-align: center;
  color: #f9f7f7;
  font-weight: 600;
}
.statistics__right-add {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f7f7;
  border: 2px solid #9896f1;
  border-bottom: 0;
  z-index: 10;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.statistics__right-add-button {
  width: 100%;
  background-color: #9896f1;
  border-radius: 10px;
  padding: 5px;
  color: #f9f7f7;
}
.statistics__right-add-button-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.statistics__right-add-button.red {
  background-color: #f38181;
}
.statistics__right-add-title {
  margin-bottom: 10px;
}
.statistics__right-add-select-button {
  position: relative;
  transition: 0.3s;
  width: 100%;
  border: 1px solid #9896f1;
  border-radius: 10px;
  padding: 10px;
  height: calc(20px + 1em);
  font-size: 1em;
  display: flex;
  justify-content: left;
  align-items: center;
}
.statistics__right-add-select-button.active {
  border-radius: 10px 10px 0 0;
}
.statistics__right-add-select-arrow {
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
}
.statistics__right-add-select-arrow span {
  display: block;
  position: relative;
  width: 10px;
  height: 5px;
  cursor: pointer;
}
.statistics__right-add-select-arrow span::before, .statistics__right-add-select-arrow span::after {
  transition: 0.3s;
  top: 50%;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: 0.3s ease;
  background-color: #000;
  border-radius: 2px;
  content: "";
}
.statistics__right-add-select-arrow span::before {
  transform: rotate(-45deg) translate(25%, 100%);
}
.statistics__right-add-select-arrow span::after {
  transform: rotate(45deg) translate(-25%, 100%);
}
.statistics__right-add-select-arrow.active {
  transform: rotate(180deg);
}
.statistics__right-add-select-list {
  border: 1px solid #9896f1;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}
.statistics__right-add-select-item {
  padding: 5px;
  border-bottom: 1px solid #abb1c5;
}
.statistics__right-add-select-item:nth-last-child(1) {
  border: 0;
}
.statistics__left {
  flex: 0 0 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  overflow: hidden;
}
.statistics__left-main {
  width: 100%;
  display: flex;
  gap: 30px;
}
.statistics__left-item {
  width: 100%;
  border: 1px solid #abb1c5;
  border-radius: 10px;
  min-height: calc(11em + 42px);
  overflow: hidden;
}
.statistics__left-item-title {
  padding: 10px 20px;
  border-bottom: 1px solid #abb1c5;
  display: flex;
  justify-content: space-between;
}
.statistics__left-item-list {
  height: 9em;
  padding: 10px 20px;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.statistics__left-item-list::-webkit-scrollbar {
  width: 8px;
}
.statistics__left-item-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f9f7f7;
  background-color: #abb1c5;
}
.statistics__left-item-button {
  padding: 10px 20px;
  width: 100%;
  border-top: 1px solid #abb1c5;
  font-weight: 600;
  background-color: #9896f1;
  color: #f9f7f7;
  opacity: 0;
}
.statistics__left-item-button.visable {
  opacity: 0.8;
}
.statistics__left-item-button:hover {
  opacity: 1;
}
.statistics__left-item-main {
  position: relative;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.statistics__left-item-subItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #abb1c5;
  border-radius: 10px;
  transition: 0.3s;
}
.statistics__left-item-subItem-text {
  font-weight: 600;
}
.statistics__left-item-subItem-check {
  border-radius: 50%;
  background-color: #f38181;
  width: 10px;
  height: 10px;
}
.statistics__left-item-subItem-check.active {
  background-color: #e1ffa0;
}
.statistics__left-item-subItem-title-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.statistics__left-item-subItem:hover {
  background-color: #9896f1;
}
.statistics__left-button {
  padding: 10px 20px;
  background-color: #9896f1;
  border-radius: 10px;
  text-align: center;
  color: #f9f7f7;
  font-weight: 600;
}
.statistics__left-popap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f7f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.statistics__left-popap-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.statistics__left-popap-item-input {
  border-radius: 10px;
  border: 2px solid #9896f1;
  padding: 5px;
  width: 100%;
}
.statistics__left-popap-button {
  width: 100%;
  background-color: #9896f1;
  border-radius: 10px;
  color: #f9f7f7;
  padding: 10px;
}
.statistics__left-popap-button-box {
  display: flex;
  gap: 20px;
  width: 50%;
}
.statistics__left-popap-button.red {
  background-color: #f38181;
}
.statistics__left-popap-button.orange {
  background-color: #ff9a00;
}
.statistics__left-popap-button.green {
  background-color: #164038;
}
.statistics__left-chart {
  height: 100%;
  aspect-ratio: 1/1;
}
.statistics__left-chart-box {
  display: flex;
  flex: 1 1;
  width: 100%;
}

.popap-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.popap-close span {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.popap-close span::before, .popap-close span::after {
  transition: 0.3s;
  top: 50%;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: 0.3s ease;
  background-color: darkGray;
  border-radius: 2px;
  content: "";
}
.popap-close span::before {
  transform: rotate(-45deg);
}
.popap-close span::after {
  transform: rotate(45deg);
}
.popap-close span:hover::before, .popap-close span:hover::after {
  background-color: #000;
}
.popap-login {
  position: relative;
  z-index: 101;
  background-color: #f9f7f7;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.popap-login__title {
  font-weight: 700;
  font-size: 1.25em;
  padding-bottom: 20px;
}
.popap-login__button {
  padding: 10px 20px;
  min-width: 20%;
  border-radius: 10px;
  background-color: #e1ffa0;
  font-weight: 600;
}
.popap-login__button-box {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.popap-login__button.reg {
  background-color: #164038;
  color: #f9f7f7;
}
.popap-login__err {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f38181;
  z-index: 10;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f7f7;
}

@media (max-width: 991.98px) {
  .popap-login {
    width: 80%;
  }
}
@media (max-width: 767.98px) {
  .popap-close {
    top: 10px;
    right: 10px;
  }
  .popap-login {
    gap: 10px;
    padding: 10px;
    font-size: 12px;
    width: 90%;
  }
  .popap-login__title {
    padding-bottom: 10px;
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?99klhs");
  src: url("../fonts/icomoon.eot?99klhs#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?99klhs") format("truetype"), url("../fonts/icomoon.woff?99klhs") format("woff"), url("../fonts/icomoon.svg?99klhs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e901";
}

.icon-check:before {
  content: "\e902";
}

.icon-exit:before {
  content: "\e900";
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}

[class*=__container] {
  max-width: 95vw;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  /*MOBILE*/
  [class*=__container] {
    max-width: none;
  }
}
.body__backblur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

button,
.button {
  opacity: 0.8;
  transition: 0.3s;
}
button:hover,
.button:hover {
  opacity: 1;
}

picture {
  position: relative;
}

.errorDownload {
  background: url("../img/errorDownload.svg") center/auto 80% no-repeat;
}
.errorDownload img {
  opacity: 0;
}

.loading-img.loading-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  border-radius: 5px;
}
.loading-img.loading-img .img-mask {
  left: auto;
  top: auto;
  height: 50%;
  aspect-ratio: 1/1;
  width: auto;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #e1ffa0;
  border-right: 3px solid transparent;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-img.loading-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.img-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.wrapper-component {
  display: flex;
  flex-direction: column;
  background-color: #f9f7f7;
  border-radius: 20px;
  padding: 40px;
  font-size: 16px;
}
.wrapper-component-title {
  font-size: 3em;
  font-weight: 600;
}

main {
  flex: 1 1;
}

@media (max-width: 991.98px) {
  .wrapper-component {
    padding: 20px;
  }
  .wrapper-component-title {
    font-size: 2em;
  }
}
@media (max-width: 767.98px) {
  .wrapper-component {
    padding: 20px 10px;
  }
}
.select-box {
  position: relative;
  padding: 6px;
  background-color: #fff;
  border-radius: 15px;
  width: 16.25em;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dde3eb;
}
.select-box.active {
  z-index: 20;
}
.select-box.active ul {
  opacity: 1;
  pointer-events: all;
  transform: translate(0);
}
.select-box.active div {
  padding: 15px 0 15px 10px;
  transform: rotate(180deg);
}
.select-box.active button, .select-box.active div {
  z-index: 2;
}
.select-box.wide {
  width: 100%;
}
.select-button {
  padding: 15px 0 15px 15px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: left;
  font-size: 1.125em;
  min-height: calc(32px + 1.125em);
  max-height: calc(32px + 1.125em);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select-arrow {
  transition: 0.3s;
  padding: 15px 10px 15px 0;
}
.select-arrow span {
  display: block;
  position: relative;
  width: 10px;
  height: 5px;
  cursor: pointer;
}
.select-arrow span::before, .select-arrow span::after {
  transition: 0.3s;
  top: 50%;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  transition: 0.3s ease;
  background-color: #000;
  border-radius: 2px;
  content: "";
}
.select-arrow span::before {
  transform: rotate(-45deg) translate(25%, 100%);
}
.select-arrow span::after {
  transform: rotate(45deg) translate(-25%, 100%);
}
.select-arrow span:hover::before, .select-arrow span:hover::after {
  background-color: #abb1c5;
}
.select-list {
  transition: 0.3s;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  outline: 1px solid #dde3eb;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, -10px);
}
.select-list-imit {
  border-radius: 15px;
  font-size: 1.125em;
  outline: 1px solid #dde3eb;
  color: rgba(0, 0, 0, 0);
  min-height: calc(44px + 1.125em);
  margin-bottom: 11px;
}
.select-item {
  cursor: pointer;
  padding: 20px;
}
.select-item.selected {
  background-color: #f9f7f7;
}
.select-item.inint {
  display: none;
}

.inputArea {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dde3eb;
  border-radius: 15px;
  font-size: 18px;
}

@media (max-width: 1170px) {
  .inputArea {
    font-size: 16px;
    padding: 15px;
  }
}
.input {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #dde3eb;
  padding: 10px;
}
.input-groupe {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-groupe__title {
  font-size: 0.8em;
  padding: 0 0 0 2px;
}
.input-groupe__main {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.input-rightDie {
  position: absolute;
  right: 0%;
  top: 0;
  font-size: 1.5em;
  height: 100%;
  background-color: #fff;
  border: 1px solid #dde3eb;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.input-rightDie .icon-check {
  color: #9df3c4;
  margin-top: 2px;
}
.input-rightDie .icon-plus {
  color: #fb929e;
  transform: rotate(45deg);
  margin-top: 2px;
}

.plug {
  flex: 1 1;
}

.notification {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #f38181;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #f9f7f7;
  border-radius: 10px 0 0 10px;
  min-width: 15vw;
}