.undefinedUser{
  &__box{
    height: 50vh;
    margin: 25vh 0;
    display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 10vh;
  }
  &__title{
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    font-weight: 500;
  }
  &__button{
    font-size: 1.5em;
    background-color: $limeGreen;
    color: #fff;
    padding: 1em 4em;
    border-radius: 5px;
    font-weight: 700;
  }
}

@media (max-width: 1170px){
  .undefinedUser__box{
    font-size: 10px;
  }
}
@media (max-width:767.98px){
  .undefinedUser__box{
    font-size: 8px;
  }
}