$grayColor: #e7e5e5;
$darkGray: #a8a7a7;
$brightGreen: #10c44c;
$redLine: #F38181;
$pungentYellow:#fecc32;
$limeGreen: #62D2A2;

@import "____initialStyle";
@import "___header";
@import "___nav";
@import "__main";
@import "_footer";

@import "__popap";
@import "__notAuth";
@import "__generalElements";