.extendLease{
  &__main{
    width: 50%; 
    padding: 25px 10px;

    display: flex; flex-direction: column; gap: 40px;
  }
  &__item{
    display: flex; flex-direction: column; gap: 20px;

    &-prise{
      font-size: 1.25em;
      font-weight: 700;
      color: $mainBlue;
    }
  }

  &__button{width: 50%;}

  &__select-box{
    flex: 0 0 46%;
  }
}

@media (max-width: 1170px){
  .extendLease__main{width: 100%;}
}
@media (max-width: 991.98px){
  .extendLease__button{width: 100%;}
}
@media (max-width:767.98px){
  .extendLease{
    font-size: 14px;
    margin: 0 10px; padding: 0;
    &__main{padding: 20px 10px; gap: 20px;}
    &__main > .wrapper-component-title{font-size: 1.75em;}
  }
}
@media (max-width: 479.98px){
   
}