.invLink{
  flex: 1 1;
  font-size: 18px;
  height: 100%;
  display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 30px;

  &__title{
    font-size: 12em;
  }
  &__text{text-align: center;}
  &__button{
    font-size: 1.125em;
  }
}

@media (max-width: 991.98px){
  .invLink{font-size: 16px}
}
@media (max-width:767.98px){
  .invLink{font-size: 12px; &__title{font-size: 10em;}}
}