.rent {
  font-size: 16px;
  padding: 40px;

  display: flex; flex-direction: column; gap: 40px;

  &__title {
    font-size: 3em;
    font-weight: 600;
    margin: 0 auto;
  }

  &__info {
    flex: 0 0 25%;
    display: flex; flex-direction: column; gap: 20px;

    &-box {
      display: flex; justify-content: space-between;
    }

    &-title {
      color: $signature;
    }
  
    &-text {
      font-size: 1.125em;
    }
  }

  &__param {

    &-box {
      display: flex; flex-direction: column; gap: 30px;
    }
  
    &-line {
      display: flex; gap: 40px; align-items: center; justify-content: space-between;
    }

    &.image{
      flex: 0 0 5%;
      border-radius: 5px;
      overflow: hidden;
      aspect-ratio: 3/2;
      & picture{
        display: block;
        height: 100%; width: 100%;
        position: relative;
        background-color: #fff;

        & img{
          position:absolute;
          top: 50%; left: 50%;
          transform: translate(-50%, -50%);
          width: 85%; height: 62%;

          filter: hue-rotate(-125deg);
          mix-blend-mode: multiply;
        }
        &.loading-img{display: flex;}
        &.reversWall img{
          height: 70%;
        }
      }
    }
    &.text{
      flex: 0 0 40%;
      font-size: 1.125em;
      &.big{flex: 1 1;}
    }
    &.checkbox-box{
      flex: 0 0 8%;
    }
    &.prise{
      flex: 0 0 10%;
      text-align: right;
      font-weight: 700;
      color: $mainBlue;
      font-size: 1.25em;
    }
    &.title{
      font-size: 1em;
      color: $signature;
      font-weight: 500;
    }

    &-checkbox{
      padding: 10px;
      transition: 0.3s;
      background-color: #fff;
      width: 40px; height: 40px;
      border-radius: 10px;
      border: 1px solid $stroke;
      display: flex; align-items: center; justify-content: center;
      cursor: pointer;

      & span{
        display: block;
        position: relative;
        width: 10px; height: 10px;
        cursor: pointer;

        &::before, &::after{
            top: 50%; left: 0;
            position: absolute;
            height: 2px; width: 100%;
            transition: 0.3s ease;
            background-color: #fff;
            border-radius: 2px;
            content: '';
        }
        &::after{transform: rotate(-45deg) translate(calc(30% - 1px), 100%)}
        &::before{transform: rotate(45deg) translate(-10%, 80%); width: 75%;}
      }

      &.active{background-color: $mainBlue; border-color: $mainBlue;}
    }
    &-err{
      text-align: center;
      font-size: 2em;
      color: $signature;
    }
  }

  &__middle {
    display: flex; justify-content: space-between;
  }
  &__bottom {
    display: flex; justify-content: center; gap: 40px;
  }

  &__button.exit{
    font-size: 16px;
    padding: 10px 40px;
    border: 2px solid $mainBlue;
    border-radius: 15px;
    color: $mainBlue;
    max-width: 14em;
    margin-left: 30px;
    background-color: $background;

    position: relative;
    &::after{
      content: '';
      border: 2px solid $mainBlue;
      border-radius: 15px;

      position:absolute;
      top: 50%; left: 5%;
      background-color: $background;
      transform: translate(-50%, -50%) rotate(45deg);
      height: 91%;
      aspect-ratio: 1 / 1;
      clip-path: polygon(0% 0%, 50.7% 49.3%, 100% 100%, 0% 100%);
    }
  }
  &__button{
    border: 2px solid $mainBlue;
    padding: 20px 30px;
    border-radius: 10px;
    color: $mainBlue;
    font-weight: 700;
    font-size: 18px;
    display: block;
    text-align: center;

    transition: 0.3s;
    opacity: 0.8;

    &.blue{
      color: $background;
      background-color: $mainBlue;
    }
    &:hover{opacity: 1;}
  }

  &__prise {
    display: flex; justify-content: space-between;

    &-box {
      width: 16em;
      display: flex; gap: 20px; flex-direction: column;
    }

    &-text {
      color: $signature;
    }
  
    &-prise {
      font-size: 1.25em;
      &.blue{
        font-weight: 700;
        color: $mainBlue;
      }
    }
  }
}


@media (max-width: 1170px){
  .rent{
    font-size: 14px;
    &__title{font-size: 2.57em;}
    &__param{
      &-box{gap: 25px;}
      &-line{gap: 30px;}
    }
    &__button.exit{
      padding: 10px 40px 10px 60px;
      max-width: 16em;
    }
  }
}
@media (max-width: 991.98px){
  .rent{
    padding: 20px;
    &__param{
      &-line{gap: 25px;}
      &.text{
        flex: 0 0 30%;
        min-width: 30%;
      }
      &.checkbox-box{flex: 0 0 10%;}
      &.prise{ flex: 0 0 12%;}
    }
    &__bottom{gap: 30px;}
  }
}
@media (max-width:767.98px){
  .rent{
    font-size: 12px;
    padding: 20px 10px;
    &__title{font-size: 2.25em;}
    &__info{
      flex: 0 0 50%;

      &-box{flex-wrap: wrap;}
      &:nth-child(1){margin-bottom: 20px;}
    }
    &__param{
      &-line{
        flex: 0 0 200%; width: 200%; gap: 15px;
      }
      
      &-box{
        overflow-x: auto; overflow-y: hidden;
        gap: 15px;

        &::-webkit-scrollbar{
          height: 8px;
          width: 100%;
          &-thumb{
            background-color: #000;
            border-radius: 10px;
            border: 2px solid #fff;
          }
        }
      }

      &.image{flex: 0 0 7.5%;}
      &.text{flex: 0 0 40%;}
      &.checkbox-box{flex: 0 0 7%;}
      &.title{font-size: 10px;}
    }
    &__middle{
      flex-direction: column-reverse; gap: 20px;
    }
    &__bottom{gap: 20px; flex-direction: column;}
    &__button{padding: 20px 0;}
    &__button.exit{
      padding: 10px; max-width: 50%;
      font-size: 12px;
      margin-left: 20px;
      
      &::after{left: 9%; height: 93%; transform: translate(-50%, -51%) rotate(45deg);}
    }
    &__prise-box{width: 100%;}
  }
}

.rentForm {
  padding: 40px;
  font-size: 16px;

  display: flex; flex-direction: column; gap: 40px;

  &__top {
    display: flex; justify-content: space-between; gap: 40px;
  }

  &__left {
    flex: 0 0 48%;
    display: flex; flex-direction: column; gap: 35px;
  }

  &__right {
    flex: 1 1;
    display: flex; flex-direction: column; gap: 35px;
  }

  &__item {
    display: flex; flex-direction: column; gap: 20px;

    &-title {
      color: $signature;
    }
  
    &-input {
      background-color: #fff;
      &-rightDie{
        border-radius: 10px;
        transition: 0.3s;
        &.disabled{opacity: 0;}
      }
    }
  
    &-checkbox {
      flex: 0 0 46%;

      display: flex; gap: 25px; align-items: center;

      &-box {
        display: flex; justify-content: space-between; 
      }

      &-mark {
        width: 2em; height: 2em;
        border-radius: 50%;
        border: 1px solid $stroke;
        padding: 5px;
        transition: 0.3s;

        & span{
          display: block; 
          width: 100%; height: 100%;
          background-color: #fff; 
          border-radius: 50%;
        }

        &.active span{background-color: $mainBlue;}
      }
    
      &-text {
        color: $textTabAndInput;
      }
    }

    &-date {
      flex: 0 0 46%;
      color: $textColor;
      &-box{
        display: flex; justify-content: space-between;
      }
    }
  }

  &__info {
    padding: 20px;
    border: 1px solid $stroke;
    border-radius: 15px;

    display: flex; flex-direction: column; gap: 30px;
  
    &-item{
      display: flex; flex-direction: column; gap: 15px;

      &-title {color: $signature;}
    }
  }

  &__bottom{display: flex; align-items: center; justify-content: center;}

  &__button {
    padding: 20px 50px;
    background-color: $mainBlue;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
  }
}
@media (max-width: 1170px){
  .rentForm{font-size: 14px;}
}
@media (max-width: 991.98px){
  .rentForm{
    padding: 20px;
    &__top{flex-direction: column;}
  }
}
@media (max-width:767.98px){
  .rentForm{
    padding: 20px 10px;
    &__item{
      gap: 10px;
      &-checkbox{
        flex: 1 1;
        &-box{flex-direction: column; gap: 10px;}
      }
      &-date{
        flex: 1 1;
        &-box{flex-direction: column; gap: 10px;}
      }
    }
    &__info{padding: 10px; font-size: 0.8em;}
    &__button{width: 100%; padding: 15px;}
  }
}