.footer {
  background-color: $textColor;
  margin-top: 120px;

  &__container {
    display: flex; justify-content: space-between; flex-direction: column;
    gap: 30px;
    font-size: 16px;
    padding: 50px;

    color: #fff;
    & a{color: #fff;}
  }

  &__item {
    flex: 0 0 50%;
    display: flex; justify-content: space-between; align-items: center;
    &-box{
      display: flex; justify-content: space-between;
    }
    &.revers{flex-direction: row-reverse;}

    &-link {
      &-box{
        display: flex; gap: 2em;
        &.colomn{
          flex-direction: column;
          gap: 0.8em;
        }
      }
    }
  
    &-icon-box{
      display: flex; justify-content: flex-end; 
      width: 100%;
      gap: 2.5em;
      & picture{
        width: 2em; height: 2em;
        display: block;
        position: relative;

        & img{
          position:absolute;
          top: 0; left: 0;
          height: 100%; width: fit-content;
        }

        &.loading-img{width: 2em; height: 2em;}
      }
    }
  }

  &__text {
    &.bold {font-weight: 600; font-size: 1.125em;}
    &.big{font-size: 1.125em;}
  }
}

@media (max-width: 1170px){
  .footer{
    &__container{font-size: 14px; padding: 40px;}
  }
}
@media (max-width: 991.98px){
  .footer{
    margin-top: 70px;
    &__item-icon-box{
      width: fit-content;
    }
  }
}
@media (max-width:767.98px){
  .footer{
    &__container{padding: 20px;}
    &__item{
      gap: 10px;
      &-box{
        flex-direction: column;
        gap: 50px;
        &.last{
          gap: 15px;
        }
      }
      &-link{
        flex: 0 0 50%;
        &-box{
          flex-wrap: wrap; gap: 0;
          &.colomn{
            flex-wrap: nowrap;
            & > .footer__item-link{
              flex: 0 0 0;
              &:nth-child(1){margin: 0;}
            }
          }
        }
        &.bold{font-size: 1.125em; font-weight: 600;}

        &:nth-child(1){margin-bottom: 1.5em;}
      }
      &-icon-box{
        gap: 20px;
        & picture{
          width: 1.5em; height: 1.5em;
        }
      }
    }
  }
}