$blackColor: #2B2B2B;
$greenColor: #00D254;
$grayColor: #B5B5B5;
$lightGrayColor: #EDEDED;
$whiteColor: #ffffff;
$mainGray: #8C8C8C;

@import "____initialStyle";
@import "___header";
@import "___nav";
@import "__main";
@import "_footer";
@import "non__arrow-input";
