.main {
    display: flex;
    height: 100%;
    overflow: hidden;
    &__err {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        font-size: 2em;
    }
}
.statistics {
    &__right {
        z-index: 10;
        flex: 0 0 15%;
        box-shadow: 5px 5px 10px #00000028;
        display: flex;
        flex-direction: column;
        position: relative;

        &-title {
            border-bottom: 1px solid $signature;
            box-shadow: -0px -10px 1px $background;
            font-weight: 600;
            text-align: center;
            padding: 10px 20px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex: 1 1;
        }

        &-item {
            padding: 5px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $stroke;
            transition: 0.3s;

            &-icon {
                border-radius: 50%;
                aspect-ratio: 1/1;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $signature;
            }
            &.active {
                box-shadow: 0 0 10px $purpure;
            }
            &:hover {
                background-color: rgba($color: $purpure, $alpha: 0.3);
            }
        }

        &-button {
            background-color: $purpure;
            border-radius: 10px;
            margin: 10px 20px;
            padding: 10px;
            text-align: center;
            color: $background;
            font-weight: 600;
        }

        &-add {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $background;
            border: 2px solid $purpure;
            border-bottom: 0;
            z-index: 10;
            padding: 10px;
            border-radius: 10px 10px 0 0;

            display: flex;
            flex-direction: column;
            gap: 10px;

            &-button {
                width: 100%;
                background-color: $purpure;
                border-radius: 10px;
                padding: 5px;
                color: $background;
                &-box {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                }
                &.red {
                    background-color: $red;
                }
            }

            &-title {
                margin-bottom: 10px;
            }

            &-select {
                &-button {
                    position: relative;
                    transition: 0.3s;
                    width: 100%;
                    border: 1px solid $purpure;
                    border-radius: 10px;
                    padding: 10px;
                    height: calc(20px + 1em);

                    font-size: 1em;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    &.active {
                        border-radius: 10px 10px 0 0;
                    }
                }
                &-arrow {
                    transition: 0.3s;
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translate(0, -50%);
                    & span {
                        display: block;
                        position: relative;
                        width: 10px;
                        height: 5px;
                        cursor: pointer;
                        &::before,
                        &::after {
                            transition: 0.3s;
                            top: 50%;
                            left: 0;
                            position: absolute;
                            height: 2px;
                            width: 100%;
                            transition: 0.3s ease;
                            background-color: #000;
                            border-radius: 2px;
                            content: '';
                        }
                        &::before {
                            transform: rotate(-45deg) translate(25%, 100%);
                        }
                        &::after {
                            transform: rotate(45deg) translate(-25%, 100%);
                        }
                    }
                    &.active {
                        transform: rotate(180deg);
                    }
                }
                &-list {
                    border: 1px solid $purpure;
                    border-top: 0;
                    border-radius: 0 0 10px 10px;
                }
                &-item {
                    padding: 5px;
                    border-bottom: 1px solid $signature;
                    &:nth-last-child(1) {
                        border: 0;
                    }
                }
            }
        }
    }
    &__left {
        flex: 0 0 85%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 100%;
        overflow: hidden;
        &-main {
            width: 100%;
            display: flex;
            gap: 30px;
        }

        &-item {
            width: 100%;
            border: 1px solid $signature;
            border-radius: 10px;
            min-height: calc(11em + 42px);
            overflow: hidden;

            &-title {
                padding: 10px 20px;
                border-bottom: 1px solid $signature;
                display: flex;
                justify-content: space-between;
            }
            &-list {
                height: 9em;
                padding: 10px 20px;
                overflow: auto;
                overflow-x: hidden;
                display: flex;
                flex-direction: column;
                gap: 5px;
                &::-webkit-scrollbar {
                    width: 8px;
                    &-thumb {
                        border-radius: 10px;
                        border: 2px solid $background;
                        background-color: $signature;
                    }
                }
            }
            &-button {
                padding: 10px 20px;
                width: 100%;
                border-top: 1px solid $signature;
                font-weight: 600;
                background-color: $purpure;
                color: $background;
                opacity: 0;
                &.visable {
                    opacity: 0.8;
                }
                &:hover {
                    opacity: 1;
                }
            }
            &-main {
                position: relative;
                min-height: fit-content;
            }
            &-subItem {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                border: 1px solid $signature;
                border-radius: 10px;
                transition: 0.3s;
                &-text {
                    font-weight: 600;
                }
                &-check {
                    border-radius: 50%;
                    background-color: $red;
                    width: 10px;
                    height: 10px;
                    &.active {
                        background-color: $liteGreen;
                    }
                }
                &-title-box {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                &:hover {
                    background-color: $purpure;
                }
            }
        }
        &-button {
            padding: 10px 20px;
            background-color: $purpure;
            border-radius: 10px;
            text-align: center;
            color: $background;
            font-weight: 600;
        }
        &-popap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $background;
            padding: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            &-item {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                &-input {
                    border-radius: 10px;
                    border: 2px solid $purpure;
                    padding: 5px;
                    width: 100%;
                }
            }

            &-button {
                width: 100%;
                background-color: $purpure;
                border-radius: 10px;
                color: $background;
                padding: 10px;
                &-box {
                    display: flex;
                    gap: 20px;
                    width: 50%;
                }
                &.red {
                    background-color: $red;
                }
                &.orange {
                    background-color: $orange;
                }
                &.green {
                    background-color: $darkGreen;
                }
            }
        }
        &-chart {
            height: 100%;
            aspect-ratio: 1/1;

            &-box {
                display: flex;
                flex: 1 1;
                width: 100%;
            }
        }
    }
}
