$background: #f9f7f7;
$liteGreen: #e1ffa0;
$darkGreen: #164038;
$stroke: #dde3eb;
$signature: #abb1c5;
$red: #f38181;
$orange: #ff9a00;
$purpure: #9896f1;

@import '____initialStyle';
@import '___header';
@import '___nav';
@import '__main';
@import '_footer';

@import '__popap';

@import '__fonts';
@import '__generalElements';
@import '__notification';
